@import "../../stylesheets/_base";

$header-bg: #ecf9ff;

.header {
  position: relative;
  padding-top: 20px;
  background: $header-bg;
  border-bottom: 1px solid #bddfef;
  box-shadow: 0px 0px 5px #bad6e6;

  .header__title {
    margin: 0 0 10px;
  }

  .header__text {
    padding: 10px 0;
  }
}

.main-nav {
  padding: 10px 0;
  border-top: 1px solid #c0e2ec;
  overflow: auto;
}

.main-nav__link {
  text-decoration: none;
  color: #75705f;
  margin-right: 15px;

  &--active {
    color: darken($header-bg, 75);
  }
}
